<script src="{{uiRootPath}}/js/site.js"></script>
<script src="{{uiRootPath}}/js/vendor/highlight.js"></script>
<script>hljs.initHighlighting()</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> 

// we let 24 hours to index
if ((Date.now()/1000 - {{page.attributes.date-now}}) / (24 * 60 * 60 *1000) < 1) {
  document.getElementById("search-input").style.display = "none";
} else {
  docsearch({
    apiKey: '85093960c5a71401582926fd0a15c9dd',
    indexName: 'rosaenlg',
    inputSelector: '#search-input',
    algoliaOptions:{
      facetFilters: [
			  'version:{{page.version}}'
      ]
    },
    debug: false // Set debug to true if you want to inspect the dropdown
  });
}

</script>
