<header class="header">
  <nav class="navbar">

    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
        <img class="navbar-logo" src="{{siteRootPath}}/_/img/rosaenlg-logo-small.png" alt="RosaeNLG logo" width="40" height="40" />
      </div>

      {{#if (eq site.url 'https://rosaenlg.org')}}
      <div class="navbar-item hide-for-print">
        <span class="algolia-autocomplete algolia-autocomplete-right" style="position: relative; display: inline-block; direction: ltr;"><input id="search-input" type="text" placeholder="Search docs" class="ds-input" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Roboto, sans-serif; font-size: 17.1px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;">test</pre><span class="ds-dropdown-menu ds-with-1" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;"><div class="ds-dataset-1"></div></span></span>
      </div>
      {{/if}}

      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Project</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://gitlab.com/rosaenlg-projects/rosaenlg">Main Repository</a>
            <a class="navbar-item" href="https://gitlab.com/rosaenlg-projects/rosaenlg/issues">Core Issue Traker</a>
            <a class="navbar-item" href="https://gitlab.com/rosaenlg-projects">Related projects</a>
          </div>
        </div>
        <a class="navbar-item" href="https://rosaenlg.org/ide/index.html">Try now!</a>
      </div>
    </div>
  </nav>
</header>
